.shiny-progress .progress {
    position: absolute;
    width: 100%;
    top: 0px;
    /* The default height is only 1px */
    height: 8px;
    margin: 0px;
}

.shiny-progress .bar {
  background-color: green;
  opacity: 0.8;
  /*transition-duration: 250ms;*/
}

.shiny-progress .progress-text {
  position: absolute;
  /*top: 50%;*/
  left: 50%; /* this and the line below center the progress bar*/
  margin-left: -200px;
  width: 400px;
  background-color: transparent;
  /*margin: 0px;*/
  padding: 3px 3px;
  opacity: 0.85;
}

.shiny-progress .progress-text .progress-message {
  padding: 0px 3px;
  font-weight: bold;
  font-size: 16px;
}

.shiny-progress .progress-text .progress-detail {
  padding: 0px 3px;
  font-weight: bold;
  color: green;
  font-size: 14px;
}

#stdout {
  height: 600px; 
  overflow: auto; 
}

.rightAlign {
  float: right;
}

.yellow {
  background: #F9E79F;
}